* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playwrite GB S", cursive;
}

header {
    background: url("./preços/fundofundo.jpg");
    padding: 10px;
    background-size: cover;
    background-position: center;
    padding: 10px;
    box-shadow: 0 0 30px rgba(255, 0, 255);
    border: 2px solid black;
}

.imagemdoprojeto {
    border-radius: 100%;
    margin-top: -4px;
    object-fit: cover;
    border: 2px solid black;
}

.logo-project {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #DA70D6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    object-fit: cover;

}

.menu {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
    gap: 50px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}

.menu li {
    display: inline;
    margin-left: 20px;
    color: black;
}

.section {
    display: flex;
    padding-top: 10px;
    padding-bottom: 0;
    margin-left: 20px;
    margin-bottom: -210px;

}

.project-text {
    font-size: 19px;
    margin-bottom: 220px;
    margin-top: 60px;

}

#lary {
    margin-right: 300px;
    border-radius: 100%;
    margin-bottom: 80px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    object-fit: cover;
    border: 2px solid black;
}

.menu-link {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 25px;
    font-weight: 800;
    padding-right: 10px;
    color: #DA70D6;
    margin: 15px;

}

.button {
    background-color: #DA70D6;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin-left: 50px;

}

.capa {
    margin-bottom: 458px;
    border-radius: 100px;
    margin-top: -40px;
    margin-right: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    object-fit: cover;
    border: 2px solid black;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -20px;
    margin-left: 30px;
    object-fit: cover;

}

.check-list {
    margin-left: 75px;
    margin-bottom: 40px;
    margin-top: -230px;

}

.click-info {
    background-color: #DA70D6;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 13px;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}

.space-imagem {
    gap: 30px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 30px;
    object-fit: cover;
    border: 2px solid black;
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;

}

.fa-whatsapp {
    margin-top: 16px;
}

.instagram-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 109px;
    background: rgb(233, 0, 255);
    background: linear-gradient(0deg, rgba(233, 0, 255, 1) 0%, rgba(178, 34, 34, 1) 26%, rgba(255, 165, 0, 1) 69%);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 36px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: 190px;
    padding-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.carousel-inner {
    width: 100%;
    display: flex;
    position: relative;
}

.button:hover {
    transform: scale(1.06);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

li {
    font-size: 30px;

}




@media screen and (max-width: 390px) {


    .logo-project {
        font-size: 18px;
        flex-direction: column;
        text-align: center;

    }

    .imagemdoprojeto {
        width: 90px;
        height: 80px;
        margin-top: 10px;
    }

    .menu {
        display: flex;
        flex-direction: column;

        margin-top: 10px;
        text-align: center;
        gap: 10px;
    }

    .menu li {
        font-size: 18px;

    }

    .menu-link {
        font-size: 20px;
        padding: 10px;
        margin: 5px 0;

    }

    .section {
        flex-direction: column;
        padding-top: 38px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
    }

    .project-text {
        font-size: 19px;
        margin-top: -435px;
        margin-bottom: 40px;
        line-height: 1.5;
    }

    #lary {
        width: 230px;
        height: 230px;
        margin-right: 0;
        margin-bottom: 210px;
        margin-top: -40px;
    }

    .products {
        flex-direction: column;
        margin-left: 0;
        margin-top: 0;
    }

    .check-list {
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }


    .space-imagem {
        width: 350px;
        height: 200px;
    }


    .button {
        font-size: 18px;
        margin-left: 20px;
        padding: 5px 15px;
    }

    .whatsapp-link {
        bottom: 30px;
        right: 30px;
        font-size: 24px;
    }


    .instagram-link {
        bottom: 30px;
        right: 100px;
        font-size: 30px;
    }


    iframe {
        margin-right: 20px;
        margin-left: 20px;
        max-width: 50%;
        height: auto;
    }
}


.button:hover {
    transform: scale(1.06);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

li {
    font-size: 30px;
}